.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	background-color: #FFF;
	box-shadow: 24px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.icon {
	cursor: pointer;
}

.colorAndTypeContainer {
	display: flex;
	gap: 10px;
}

.buttonsContainer {
	display: flex;
}